In [3]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [4]:
pip install xlwings

Collecting xlwings
  Downloading xlwings-0.33.11-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (5.8 kB)
Downloading xlwings-0.33.11-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 40.1 MB/s eta 0:00:00
Installing collected packages: xlwings
Successfully installed xlwings-0.33.11

In [6]:
import pandas as pd
import datetime
import os
import openpyxl
import xlwings as xw

In [9]:
file_name = "/content/sample_data/supermarket_sales - Sheet1.csv"
today = datetime.date.today()
# fileExtension_name = today.strftime('%Y%m%d')
fileExtension_name = datetime.datetime.now().strftime("%Y%m%d_%H%M%S")
template_filename = "sales_performance"
data_sheet_name = "data"

In [11]:
# retrieve data from csv into df
df_data_raw = pd.read_csv(file_name)
df_data_raw

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [13]:
#  Exploratory
df_data_raw.head()
df_data_raw.describe( include = "all")

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
count,1000,1000,1000,1000,1000,1000,1000.000000,1000.000000,1000.000000,1000.000000,1000,1000,1000,1000.00000,1.000000e+03,1000.000000,1000.00000
unique,1000,3,3,2,2,6,NaN,NaN,NaN,NaN,89,506,3,NaN,NaN,NaN,NaN
top,750-67-8428,A,Yangon,Member,Female,Fashion accessories,NaN,NaN,NaN,NaN,2/7/2019,19:48,Ewallet,NaN,NaN,NaN,NaN
freq,1,340,340,501,501,178,NaN,NaN,NaN,NaN,20,7,345,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,55.672130,5.510000,15.379369,322.966749,NaN,NaN,NaN,307.58738,4.761905e+00,15.379369,6.97270
std,NaN,NaN,NaN,NaN,NaN,NaN,26.494628,2.923431,11.708825,245.885335,NaN,NaN,NaN,234.17651,6.131498e-14,11.708825,1.71858
min,NaN,NaN,NaN,NaN,NaN,NaN,10.080000,1.000000,0.508500,10.678500,NaN,NaN,NaN,10.17000,4.761905e+00,0.508500,4.00000
25%,NaN,NaN,NaN,NaN,NaN,NaN,32.875000,3.000000,5.924875,124.422375,NaN,NaN,NaN,118.49750,4.761905e+00,5.924875,5.50000
50%,NaN,NaN,NaN,NaN,NaN,NaN,55.230000,5.000000,12.088000,253.848000,NaN,NaN,NaN,241.76000,4.761905e+00,12.088000,7.00000
75%,NaN,NaN,NaN,NaN,NaN,NaN,77.935000,8.000000,22.445250,471.350250,NaN,NaN,NaN,448.90500,4.761905e+00,22.445250,8.50000
max,NaN,NaN,NaN,NaN,NaN,NaN,99.960000,10.000000,49.650000,1042.650000,NaN,NaN,NaN,993.00000,4.761905e+00,49.650000,10.00000

In [14]:
# Group by
df_data = df_data_raw.groupby(['Branch','City', 'Customer type', 'Gender', 'Product line', 'Payment']).agg({'Invoice ID': 'count', 'Quantity': 'sum', "Total": 'sum', "gross income": 'sum', "Rating": 'sum'}).reset_index()

In [15]:
#  rename columns
df_data = df_data.rename(columns={'Invoice ID' : 'Invoices'})
df_data = df_data.rename(columns={'Total' : 'Prices'})
df_data = df_data.rename(columns={'Rating' : 'Ratings score'})

In [16]:
# create new column

#  display distinct values of "Product line"
df_data["Product line"].drop_duplicates()

0     Electronic accessories
3        Fashion accessories
6         Food and beverages
9          Health and beauty
12        Home and lifestyle
15         Sports and travel
Name: Product line, dtype: object

In [17]:
#  function to be used in order to create new colum with the category of Product
def get_product_category(product_line):

    if product_line == "Food and beverages":
        return "consumables"

    elif product_line == "Health and beauty" or  product_line == "Electronic accessories":
        return "soft goods"

    elif product_line == "Fashion accessories" or  product_line == "Electronic accessories"  or  product_line == "Sports and travel":
        return "superior goods"

    else:
        return "others"

In [18]:
#  creation of new column depending of "Product line" columns value
df_data["Product category"] = df_data["Product line"].apply(get_product_category)

In [19]:
df_data
df_data.describe(include="all")

,Branch,City,Customer type,Gender,Product line,Payment,Invoices,Quantity,Prices,gross income,Ratings score,Product category
count,213,213,213,213,213,213,213.000000,213.000000,213.000000,213.000000,213.000000,213
unique,3,3,2,2,6,3,NaN,NaN,NaN,NaN,NaN,4
top,B,Mandalay,Member,Female,Electronic accessories,Ewallet,NaN,NaN,NaN,NaN,NaN,soft goods
freq,72,72,107,108,36,72,NaN,NaN,NaN,NaN,NaN,72
mean,NaN,NaN,NaN,NaN,NaN,NaN,4.694836,25.868545,1516.275817,72.203610,32.735681,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,2.142521,13.353029,865.645066,41.221194,15.141370,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,2.000000,74.707500,3.557500,4.200000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,16.000000,919.569000,43.789000,21.400000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,4.000000,24.000000,1431.633000,68.173000,31.200000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,6.000000,34.000000,1972.036500,93.906500,42.600000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,13.000000,71.000000,4877.796000,232.276000,88.600000,NaN

In [20]:
# # Save old report in Archives folder
# by moving all xlsx files
os.system('move /Y "'+ '*.xls*" "' + 'Archives"' )

32512